<div class="row">
    <div class="col-md-12 sub-menu">
        <a href="/admin"  class="btn btn-inverse-primary btn-fw">학생상세조회</a>
        <a href="/admin/track/1"  class="btn btn-inverse-primary btn-fw">트랙별조회</a>
        <a href="/admin/accept_spec"  class="btn btn-inverse-primary btn-fw">외부스펙승인</a>
    </div>
</div>