<footer class="footer">
  <div class="d-sm-flex justify-content-center">
    <span class="text-white text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="https://github.com/kms1837/capstone_4" target="_blank">capstone_4</a>.</span>
  </div>
</footer>