<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" href="/"><img src="/public/images/logo.svg" alt="logo"/></a>
    <a class="navbar-brand brand-logo-mini" href="/"><img src="/public/images/logo-mini.svg" alt="logo"/></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <ul class="navbar-nav navbar-nav-left">
      <li class="nav-item">
        <a class="nav-link count-indicator" href="/">홈</a>
      </li>

      <% if (user.auth) { %>
      <li class="nav-item">
        <a class="nav-link count-indicator" href="/admin">학생 상세조회</a>
      </li>
      <li class="nav-item">
        <a class="nav-link count-indicator" href="/admin/track/1">트랙별 학생조회</a>
      </li>
      <li class="nav-item">
        <a class="nav-link count-indicator" href="/admin/accept_spec">외부스펙 승인</a>
      </li>

      <% } else { %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="trackDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          트랙 조회
        </a>
        
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="trackDropdown">
          <a class="count-indicator text-center dropdown-item" href="/user/track_chart">
            <i class="mdi mr-2 mdi-chart-bar"></i>
            차트 조회
          </a>
          <a class="count-indicator text-center dropdown-item" href="/user/track_score">
            <i class="mdi mr-2 mdi-table"></i>
            성적 조회
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link count-indicator" href="/user/compare">졸업생과의 비교</a>
      </li>
      
      <% } %>

      <li class="nav-item">
        <a class="nav-link count-indicator" href="/about">시스템 소개</a>
      </li>
      <li class="nav-item">
        <a class="nav-link count-indicator" href="/contact-us">기타 문의</a>
      </li>
    </ul>
    <% if(locals.user) { %>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <div class="nav-profile-img">
            <img src="/public/images/faces-clipart/pic-1.png" alt="image">
            <span class="availability-status online"></span>             
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">
            <%= user.name %>
            <% if (user.auth) { %>
              (관리자)
            <% } %>
            </p>
          </div>
        </a>
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
          <a class="dropdown-item" href="/user/logout">
            <i class="mdi mdi-logout mr-2 text-primary"></i>
            로그아웃
          </a>
        </div>
      </li>
    </ul>
    <% } %>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>