<!DOCTYPE html>
<html lang="en">

<head>
  <title>Purple Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.png" />
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <div class="container-scroller">
    <% include ./partials/_navbar.ejs %>
    <div class="container-fluid page-body-wrapper">
      <div class="content-wrapper">
        <% include ./partials/_admin-menu.ejs %>
        <div class="input-group">
          <input id="myInput" type="text" class="form-control" placeholder="학생 이름 조회" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm btn-gradient-primary" type="button">Search</button>
          </div>
        </div>
        <br><br>
        
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">스펙 요청 목록</h4>
                  <p class="card-description">
                    학생들이 신청한 스펙을 승인또는 거절합니다.
                  </p>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>User</th>
                        <th>이름</th>
                        <th>학번</th>
                        <th>학생 스펙</th>
                        <th>스펙승인</th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      <% for(var i=0; i<specReqList.length; i++) { %>
                        <tr>
                          <td class="py-1"><img src="/public/images/faces-clipart/pic-1.png" alt="image"></td>
                          <td><%= specReqList[i].name %></td>
                          <td><%= specReqList[i].student_id %></td>
                          <td><button type="button" class="btn btn-inverse-primary btn-sm" data-toggle="modal" data-target="#myModalA" > 학생 스펙보기</button></td>
                          <td>
                            <a href="javascript:doDisplay();">학생1 스펙승인</a>
                          </td>
                        </tr>
                      <% } %>
                      <tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ./partials/_footer.ejs %>

    <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel"><%=user.name%>의 스펙명단</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">

                  </div>
                </div>

            </div>
            </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
      </div>
    </div>
  </div>
  <script src="/public/vendors/js/vendor.bundle.base.js"></script>
  <script src="/public/vendors/js/vendor.bundle.addons.js"></script>
  <script src="/public/js/off-canvas.js"></script>
  <script src="/public/js/misc.js"></script>
  <script src="/public/js/file-upload.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
</body>

</html>
