<!DOCTYPE html>
<html lang="en">

<head>
  <title>Purple Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="shortcut icon" href="../../images/favicon.png" />
  <script type="text/javascript">
  var bDisplay = true;
  function doDisplay(){
      var con = document.getElementById("myDIV");
      if(con.style.display=='none'){
          con.style.display = 'block';
      }else{
          con.style.display = 'none';
      }
  }
  </script>
  
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="학생 이름 조회" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-gradient-primary" type="button">Search</button>
            </div>
          </div>
          <br><br>
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="card-body">
                <h4 class="card-title">Striped Table</h4>
                <p class="card-description">
                  Add class <code>.table-striped</code>
                </p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        User
                      </th>
                      <th>
                        First name
                      </th>
                      <th>
                        Progress
                      </th>
                      <th>
                        Amount
                      </th>
                      <th>
                        Deadline
                      </th>
                      <th>
                        학생 스펙승인
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="py-1">
                        <img src="../../images/faces-clipart/pic-1.png" alt="image">
                      </td>
                      <td>
                        Herman Beck
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td>
                        $ 77.99
                      </td>
                      <td>
                        May 15, 2015
                      </td>
                      <td>
                        <a href="javascript:doDisplay();">학생1 스펙보기</a>
                      </td>

                    </tr>
                    <tr>
                      <td class="py-1">
                        <img src="../../images/faces-clipart/pic-2.png" alt="image">
                      </td>
                      <td>
                        Messsy Adam
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td>
                        $245.30
                      </td>
                      <td>
                        July 1, 2015
                      </td>
                      <td>
                        <a href="#">학생1 스펙보기</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="py-1">
                        <img src="../../images/faces-clipart/pic-3.png" alt="image">
                      </td>
                      <td>
                        John Richards
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td>
                        $138.00
                      </td>
                      <td>
                        Apr 12, 2015
                      </td>
                      <td>
                        <a href="#">학생1 스펙보기</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="py-1">
                        <img src="../../images/faces-clipart/pic-4.png" alt="image">
                      </td>
                      <td>
                        Peter Meggik
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td>
                        $ 77.99
                      </td>
                      <td>
                        May 15, 2015
                      </td>
                      <td>
                        <a href="#">학생1 스펙보기</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="py-1">
                        <img src="../../images/faces-clipart/pic-1.png" alt="image">
                      </td>
                      <td>
                        Edward
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td>
                        $ 160.25
                      </td>
                      <td>
                        May 03, 2015
                      </td>
                      <td>
                        <a href="#">학생1 스펙보기</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="py-1">
                        <img src="../../images/faces-clipart/pic-2.png" alt="image">
                      </td>
                      <td>
                        John Doe
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td>
                        $ 123.21
                      </td>
                      <td>
                        April 05, 2015
                      </td>
                      <td>
                        <a href="#">학생1 스펙보기</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="py-1">
                        <img src="../../images/faces-clipart/pic-3.png" alt="image">
                      </td>
                      <td>
                        Henry Tom
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td>
                        $ 150.00
                      </td>
                      <td>
                        June 16, 2015
                      </td>
                      <td>
                        <a href="#">학생1 스펙보기</a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
              </div>
            </div>
          </div>
          <div class="col-12 grid-margin stretch-card"  id="myDIV" style = "display:none">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">학생 외부 스펙 입력</h4>
                  <p class="card-description">
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='자격증.html'">자격증</button>
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='공모전.html'">공모전</button>
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='인턴정보.html'">인턴정보</button>
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='어학연수.html'">어학연수</button>
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='어학성적.html'">어학성적</button>
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='교육프로그램.html'">교육프로그램</button>

                  </p>
                  <form class="forms-sample">

                    <div class="form-group">
                      <label>File upload</label>
                      <input type="file" name="img[]" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleTextarea1">세부사항 설명</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">승인</button>
                      <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal1" > 거절	</button>
                       <!-- 모달 팝업 -->
                        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="modal-header">
                                   <h4 class="modal-title" id="myModalLabel">거절 사유</h4>
                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                 </div>
                                <div class="modal-body">
                                           <textarea name="name" rows="8" cols="55"></textarea>
                                 </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-primary">거절사유 보내기</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                     </div>
                                  </div>
                            </div>
                         </div>
                    <hr>
                  </form>
                  <div class="form-group">
                    <label for="exampleTextarea1">승인된 목록</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="exampleTextarea1">거절된 목록</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        </div>
        </div>
    </div>
  </div>
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <script src="../../vendors/js/vendor.bundle.addons.js"></script>
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/misc.js"></script>
</body>

</html>
