<!DOCTYPE html>
<html lang="en">

<head>
  <title>CPAS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.png" />
</head>

<body>
  <div class="background-img"></div>

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper">

          <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">학생 외부 스펙 입력</h4>
                  <p class="card-description">
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='자격증.html'">자격증</button>
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='공모전.html'">공모전</button>
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='인턴정보.html'">인턴정보</button>
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='어학연수.html'">어학연수</button>
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='어학성적.html'">어학성적</button>
                    <button type="submit" class="btn btn-gradient-primary mr-2" onclick="location.href='교육프로그램.html'">교육프로그램</button>

                  </p>
                  <form class="forms-sample">

                    <div class="form-group">
                      <label>File upload</label>
                      <input type="file" name="img[]" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleTextarea1">Textarea</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                    <hr>
                  </form>
                  <div class="form-group">
                    <label for="exampleTextarea1">승인된 목록</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="exampleTextarea1">거절된 목록</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        </div>
        </div>
    </div>
  </div>
  <script src="/public/vendors/js/vendor.bundle.base.js"></script>
  <script src="/public/vendors/js/vendor.bundle.addons.js"></script>
  <script src="/public/js/off-canvas.js"></script>
  <script src="/public/js/misc.js"></script>
  <script src="/public/js/file-upload.js"></script>
</body>

</html>
