<!DOCTYPE html>
<html lang="en">

<head>
  <title>Purple Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="shortcut icon" href="../../images/favicon.png" />

  <style>
  .sub-navbar-wrapper {
    height: 50px;
  }

  .sub-navbar {
    background: #fff;

    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    position : fixed;
    text-align: center;
    box-shadow: 0px 0px 10px gainsboro;
  }

  .nav-items {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
  }

  .nav-items li {
    display: inline-block;
    padding: 10px ;
  }

  .nav-items li:hover {
    background: #ccc;
  }

  .nav-items li a:hover {
    text-decoration: none;
  }

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</head>

<body>

  <div class="container-scroller">

    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper">
          <div class="sub-navbar-wrapper">
            <div class="sub-navbar">
              <ul class="nav-items">
                <li>
                <a href="admin_main.html"  class="btn btn-inverse-primary btn-fw">학생상세조회

                </a>
                </li>
                <li>
                  <a href="트랙조회.html" class="btn btn-inverse-primary btn-fw">트랙별조회</a>
                </li>
                <li>
                  <a href="accept_spec.html" class="btn btn-inverse-primary btn-fw">외부스펙승인</a>
                </li>

              </ul>
            </div>
          </div>

          <div class="input-group">
            <input id = "myInput" type="text" class="form-control" placeholder="학생 이름 조회" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append" id="myDIV">
              <button class="btn btn-sm btn-gradient-primary" type="button">Search</button>
            </div>
          </div>

          <br><br>
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="card-body">
                  <h4 class="card-title">학생 상세조회</h4>
                  <p class="card-description">
                    Add class <code>.table-striped</code>
                  </p>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          User
                        </th>
                        <th>
                          이름
                        </th>
                        <th>
                          학번
                        </th>
                        <th>
                          총 평점
                        </th>
                        <th>
                          SW역량등급
                        </th>
                        <th>
                          카테고리 역량조회
                        </th>
                        <th>
                          교수 의견등록
                        </th>
                        <th>
                          교수 의견조회
                        </th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-1.png" alt="image">
                        </td>
                        <td>
                          홍길동
                        </td>
                        <td>
                          <%= user.studentID %>
                        </td>
                        <td>
                          <%= final_score.final_score %>
                        </td>
                        <td>
                          <%= final_score.final_grade %>
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalA" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog modal-lg">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
                                      <div class="row">
                                          <div class="col-md-3 grid-margin stretch-card">
                                            <div class="card">
                                              <div class="card-body">
                                                <div class="profile text-center">
                                                  <img src="/public/images/faces/face1.jpg" class="faceimg" alt="image">
                                                  <h1><%= user.username %></h1>
                                                </div>

                                                <div class="progress-wrapper">
                                                  <h4 class="card-title">인공지능</h4>
                                                  <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                </div>

                                                <div class="progress-wrapper">
                                                  <h4 class="card-title">빅데이터</h4>
                                                  <div class="progress">
                                                    <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                </div>

                                                <div class="progress-wrapper">
                                                  <h4 class="card-title">카테고리3</h4>
                                                  <div class="progress">
                                                    <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                </div>

                                                <div class="progress-wrapper">
                                                  <h4 class="card-title">카테고리4</h4>
                                                  <div class="progress">
                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="card-footer bg-gradient-danger card-img-holder text-white">
                                                <div class="row">
                                                  <div class="col-md-8">
                                                    <h1>Challenger</h1>
                                                    <h5 class="card-text">500 sw</h5>
                                                  </div>
                                                  <div class="col-md-3">
                                                      <img src="/public/images/faces/face1.jpg" class="asd" alt="image">
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-9 grid-margin stretch-card">
                                              <div class="card">
                                                <div class="card-body">
                                                  <canvas id="raderChart" style="height:230px"></canvas>
                                                </div>

                                              </div>
                                            </div>
                                      </div>
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal1" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                           <textarea name="name" rows="8" cols="63"></textarea>
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModalaa" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModalaa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                                <%=final_score.professor%>
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-2.png" alt="image">
                        </td>
                        <td>
                          <%= user.name %>
                        </td>
                        <td>
                          <%= user.studentID %>
                        </td>
                        <td>
                          <%= final_score.final_score %>
                        </td>
                        <td>
                          <%= final_score.final_grade %>
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal@" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModal@" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S02</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                                S02 학생의 UI 화면
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal2" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                               <textarea name="name" rows="8" cols="63"></textarea>
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModalbb" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModalbb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                                S02 학생에 대한 교수의견
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-3.png" alt="image">
                        </td>
                        <td>
                          <%= user.name %>
                        </td>
                        <td>
                          <%= user.studentID %>
                        </td>
                        <td>
                          <%= final_score.final_score %>
                        </td>
                        <td>
                          <%= final_score.final_grade %>
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalC" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModalC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S03</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                                S03 학생의 UI 화면
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal3" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                               <textarea name="name" rows="8" cols="63"></textarea>
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModalcc" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModalcc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                                S03 학생에 대한 교수의견
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-4.png" alt="image">
                        </td>
                        <td>
                          <%= user.name %>
                        </td>
                        <td>
                          <%= user.studentID %>
                        </td>
                        <td>
                          <%= final_score.final_score %>
                        </td>
                        <td>
                          <%= final_score.final_grade %>
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalD" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S04</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            S04 학생의 UI 화면
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal4" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                           <textarea name="name" rows="8" cols="63"></textarea>
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModaldd" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModaldd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                                S01 학생에 대한 교수의견
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-1.png" alt="image">
                        </td>
                        <td>
                          <%= user.name %>
                        </td>
                        <td>
                          <%= user.studentID %>
                        </td>
                        <td>
                          <%= final_score.final_score %>
                        </td>
                        <td>
                          <%= final_score.final_grade %>
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalE" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S05</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            S05 학생의 UI 화면
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal5" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                           <textarea name="name" rows="8" cols="63"></textarea>
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModalee" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModalee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                                S01 학생에 대한 교수의견
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-2.png" alt="image">
                        </td>
                        <td>
                          <%= user.name %>
                        </td>
                        <td>
                          <%= user.studentID %>
                        </td>
                        <td>
                          <%= final_score.final_score %>
                        </td>
                        <td>
                          <%= final_score.final_grade %>
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalF" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S06</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            S06 학생의 UI 화면
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal6" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                           <textarea name="name" rows="8" cols="63"></textarea>
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModalff" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModalff" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                                S01 학생에 대한 교수의견
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-3.png" alt="image">
                        </td>
                        <td>
                          <%= user.name %>
                        </td>
                        <td>
                          <%= user.studentID %>
                        </td>
                        <td>
                          <%= final_score.final_score %>
                        </td>
                        <td>
                          <%= final_score.final_grade %>
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalG" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalG" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S07</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            S07 학생의 UI 화면
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal7" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                           <textarea name="name" rows="8" cols="63"></textarea>
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModalgg" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModalgg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                                S01 학생에 대한 교수의견
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>
  </div>

  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <script src="../../vendors/js/vendor.bundle.addons.js"></script>
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/misc.js"></script>
  <script>
    var ctx = document.getElementById('raderChart').getContext('2d');
    var options = {
      scale: {
        pointLabels: {
          fontSize: 20,
          fontStyle: '300',
          fontColor: 'rgba(0, 0, 0, 1)',
          fontFamily: "맑은 고딕, sans-serif"
        },
        ticks: {
          beginAtZero: true,
          maxTicksLimit: 2,
          min: 0,
          max: 10
        }
      }
    };

    var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['코딩 개발', '수학', '팀플', '총학점', '스펙'],
            datasets: [
            {
                label: '점수',
                data: [8, 6, 4, 6, 4],
                backgroundColor: 'rgba(255, 99, 132, 1)',
                borderColor: 'rgba(255, 99, 0, 1)',
                fill: 1
            }],
        },
        options : options
    });
  </script>
</body>

</html>
