<!DOCTYPE html>
<html lang="en">

<head>
  <title>Purple Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="학생 이름 조회" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-gradient-primary" type="button">Search</button>
            </div>
          </div>
          <br><br>
          <div class="card">
                <div class="card-body">
                  <h4 class="card-title">학생 상세조회</h4>
                  <p class="card-description">
                    Add class <code>.table-striped</code>
                  </p>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          User
                        </th>
                        <th>
                          First name
                        </th>
                        <th>
                          Progress
                        </th>
                        <th>
                          Amount
                        </th>
                        <th>
                          Deadline
                        </th>
                        <th>
                          교수의견 보기
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="py-1">
                          <img src="/public/images/faces-clipart/pic-1.png" alt="image">
                        </td>
                        <td>
                          Herman Beck
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $ 77.99
                        </td>
                        <td>
                          May 15, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalA" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            교수 종합 의견
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="/public/images/faces-clipart/pic-2.png" alt="image">
                        </td>
                        <td>
                          Messsy Adam
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $245.30
                        </td>
                        <td>
                          July 1, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalA" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            교수 종합 의견
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="/public/images/faces-clipart/pic-3.png" alt="image">
                        </td>
                        <td>
                          John Richards
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $138.00
                        </td>
                        <td>
                          Apr 12, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalA" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            교수 종합 의견
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="/public/images/faces-clipart/pic-4.png" alt="image">
                        </td>
                        <td>
                          Peter Meggik
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $ 77.99
                        </td>
                        <td>
                          May 15, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalA" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            교수 종합 의견
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="/public/images/faces-clipart/pic-1.png" alt="image">
                        </td>
                        <td>
                          Edward
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $ 160.25
                        </td>
                        <td>
                          May 03, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalA" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            교수 종합 의견
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="/public/images/faces-clipart/pic-2.png" alt="image">
                        </td>
                        <td>
                          John Doe
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $ 123.21
                        </td>
                        <td>
                          April 05, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalA" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            교수 종합 의견
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="/public/images/faces-clipart/pic-3.png" alt="image">
                        </td>
                        <td>
                          Henry Tom
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $ 150.00
                        </td>
                        <td>
                          June 16, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalA" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            교수 종합 의견
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

          </div>
          </div>

        </div>
        </div>
        </div>
    </div>
  </div>
  <script src="/public/vendors/js/vendor.bundle.base.js"></script>
  <script src="/public/vendors/js/vendor.bundle.addons.js"></script>
  <script src="/public/js/off-canvas.js"></script>
  <script src="/public/js/misc.js"></script>
</body>

</html>
