<!DOCTYPE html>
<html lang="en">

<head>
  <title>SPAS-기타문의</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.png" />
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">

  <script src="/public/vendors/js/vendor.bundle.base.js"></script>
  <script src="/public/vendors/js/vendor.bundle.addons.js"></script>
</head>

<body>
  <div class="background-black"></div>
  <div class="background-img"></div>

  <div class="container-scroller">
    <% include ./partials/_navbar.ejs %>
    <div class="container-fluid page-body-wrapper">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h2 class="text-center">궁금하신 사항이 있습니까?</h2>
                <h4 class="text-center">궁금하신 사항은 아래에 입력하시고 보내주시면 메일로 답변해드리겠습니다.<br>서비스를 이용해 주셔서 감사합니다.</h4>
                <div class="help-call">
                  <div class="form-group">
                      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="이름">
                      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="이메일">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" id="exampleTextarea1" rows="30"></textarea>
                  </div>
                  <button class="btn btn-block">보내기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <% include ./partials/_footer.ejs %> 
</body>

</html>