<!DOCTYPE html>
<html lang="en">

<head>
  <title>Purple Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.png"/>
</head>

<body>
    <div class="file-upload-test">
        <input type="file" class="file-upload-input"/>
        <input type="submit" class="btn btn-success" value="파일 업로드"></input>
    </div>

    <div class="img-upload-test">
        <input type="file" class="img-upload-input"/>
        <input type="submit" class="btn btn-success" value="이미지 업로드"></input>
    </div>

    <script src="/public/vendors/js/vendor.bundle.base.js"></script>
    <script src="/public/js/file.js"></script>
</body>

</html>