<!DOCTYPE html>
<html lang="en">

<head>
  <title>Purple Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="card-body">
                  <h4 class="card-title">카테고리 역량 조회</h4>
                  <p class="card-description">
                    Add class <code>.table-striped</code>
                  </p>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          User
                        </th>
                        <th>
                          First name
                        </th>
                        <th>
                          Progress
                        </th>
                        <th>
                          Amount
                        </th>
                        <th>
                          Deadline
                        </th>
                        <th>
                          수정
                        </th>
                        <th>
                          교수 의견
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-1.png" alt="image">
                        </td>
                        <td>
                          Herman Beck
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $ 77.99
                        </td>
                        <td>
                          May 15, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalA" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S01</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            S01 학생의 UI 화면
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal1" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                           <textarea name="name" rows="8" cols="63"></textarea>
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-2.png" alt="image">
                        </td>
                        <td>
                          Messsy Adam
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $245.30
                        </td>
                        <td>
                          July 1, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalB" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModalB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S02</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                                S02 학생의 UI 화면
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal2" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                               <textarea name="name" rows="8" cols="63"></textarea>
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-3.png" alt="image">
                        </td>
                        <td>
                          John Richards
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $138.00
                        </td>
                        <td>
                          Apr 12, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalC" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModalC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S03</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                                S03 학생의 UI 화면
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal3" > s01 radarChart	</button>
                           <!-- 모달 팝업 -->
                            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
                                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                     </div>
                                    <div class="modal-body">
                                               <textarea name="name" rows="8" cols="63"></textarea>
                                     </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                         </div>
                                      </div>
                                </div>
                             </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-4.png" alt="image">
                        </td>
                        <td>
                          Peter Meggik
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $ 77.99
                        </td>
                        <td>
                          May 15, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalD" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S04</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            S04 학생의 UI 화면
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal4" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                           <textarea name="name" rows="8" cols="63"></textarea>
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-1.png" alt="image">
                        </td>
                        <td>
                          Edward
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $ 160.25
                        </td>
                        <td>
                          May 03, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalE" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S05</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            S05 학생의 UI 화면
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal5" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                           <textarea name="name" rows="8" cols="63"></textarea>
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-2.png" alt="image">
                        </td>
                        <td>
                          John Doe
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $ 123.21
                        </td>
                        <td>
                          April 05, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalF" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S06</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            S06 학생의 UI 화면
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal6" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                           <textarea name="name" rows="8" cols="63"></textarea>
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-1">
                          <img src="../../images/faces-clipart/pic-3.png" alt="image">
                        </td>
                        <td>
                          Henry Tom
                        </td>
                        <td>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td>
                          $ 150.00
                        </td>
                        <td>
                          June 16, 2015
                        </td>
                        <td>
                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalG" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModalG" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">S07</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                            S07 학생의 UI 화면
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-Link" data-toggle="modal" data-target="#myModal7" > s01 radarChart	</button>
	                         <!-- 모달 팝업 -->
	                          <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	                             <div class="modal-dialog">
	                                <div class="modal-content">
	                                   <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">교수 의견</h4>
		                                     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
	                                   </div>
	                                  <div class="modal-body">
		                                           <textarea name="name" rows="8" cols="63"></textarea>
	                                   </div>
	                                       <div class="modal-footer">
		                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                        <button type="button" class="btn btn-primary">Save changes</button>
	                                       </div>
	                                    </div>
	                              </div>
	                           </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                </div>
              </div>
            </div>



            <div class="col-md-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Text colors</h4>
                  <p class="card-description">
                    Use class <code>.text-primary</code>, <code>.text-secondary</code> etc. for text in theme colors
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="text-primary">.text-primary</p>
                      <p class="text-success">.text-success</p>
                      <p class="text-danger">.text-danger</p>
                      <p class="text-warning">.text-warning</p>
                      <p class="text-info">.text-info</p>
                    </div>
                    <div class="col-md-6">
                      <p class="text-light bg-dark pl-1">.text-light</p>
                      <p class="text-secondary">.text-secondary</p>
                      <p class="text-dark">.text-dark</p>
                      <p class="text-muted">.text-muted</p>
                      <p class="text-white bg-dark pl-1">.text-white</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>
  </div>
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <script src="../../vendors/js/vendor.bundle.addons.js"></script>
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/misc.js"></script>
</body>

</html>
