.progress-wrapper {
    margin-bottom: 10px;
  }
  .progress {
    height: 25px;
  }
  .profile {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .profile .faceimg {
    border-radius: 100%;
    width: 50%;
    margin-bottom: 10px;
  }
  .sub-menu {
    margin: 0 auto 10px auto;
    text-align: center;
  }
  .sub-menu button, .sub-menu a {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .help-call {
    margin: 0 auto;
    width: 600px;
  }

  .help-call input[type="text"] {
    width: 48%;
    float: left;
  }

  .help-call input[type="text"]:last-child {
    float: right;
  }

  .tooltip-inner {
    max-width: 400px;
  }